@import url(../style.css);

.texto_locadora{
    width: 700px;
}

#menu{
    margin-top: 100px;
}

.about-us{
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}

.image{
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

p{
    margin-bottom: 5px;
}
